.formulario-label {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
}
.formulario-grupo-input {
  position: relative;
}
.formulario-input,
.formulario-textarea,
.formulario-input-date {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(22, 21, 21);
  border-radius: 2px;
  height: 35px;
  line-height: 40px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}
.formulario-input-date {
  padding: 0 10px 0 10px;
}
.formulario-input.select {
  padding: 0 50px 0 10px;
}
.formulario-textarea {
  height: max-content;
  line-height: 25px;
  padding: 5px 40px 5px 10px;
}
.formulario-input:focus,
.formulario-textarea:focus,
.formulario-input-date:focus {
  border: 1px solid #619bdd;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.bi-check-circle-fill {
  color: rgb(var(--exito));
}
.bi-x-circle-fill {
  color: rgb(var(--error));
}
.formulario-grupo-input svg {
  width: 30px;
  position: absolute;
  right: 2px;
  top: 6px;
  z-index: 100;
  font-size: 16px;
  visibility: hidden;
  pointer-events: none;
}
.formulario-grupo-input.select svg {
  right: 10px;
}
.formulario-grupo-input.textarea svg {
  top: 10px;
}
.formulario-grupo-input.date svg {
  right: 25px;
}
.formulario-message-error {
  font-size: 12px;
  font-weight: 500;
  display: block;
  visibility: hidden;
  margin: 0;
}
.form-check-input {
  --bs-border-width: 2px;
  --bs-border-color: black;
}
/* -----Seccion de errores */
.error .formulario-input,
.error .formulario-input-date,
.error .formulario-textarea {
  border: 1px solid rgb(var(--error));
}
.error .formulario-input:focus,
.error .formulario-input-date:focus,
.error .formulario-textarea:focus,
.error .form-check-input:focus {
  border: 1px solid rgb(var(--error));
  box-shadow: 0 0 0 0.25rem rgba(253, 41, 13, 0.25);
}
.error .bi-x-circle-fill {
  visibility: visible;
}
.error.check .formulario-label {
  color: rgb(var(--error));
}
.error .formulario-message-error {
  visibility: visible;
  color: rgb(var(--error));
}
.error .form-check-input {
  border: 2px solid rgb(var(--error));
}
.section-perfil{
  width: max-content;
  border-radius: 100%;
  border: 3px solid #5e5e5e;
  margin-bottom: 5px;
}
.section-perfil-img{
  width: max-content;
  border-radius: 8px;
  border: 3px solid #5e5e5e;
  margin-bottom: 5px;
  padding: 5px;
}
.img-perfil{
  width: 200px;
  
}
.section-perfil svg{
  width: 180px;
  color: #5e5e5e;
}

.img-perfil.sm{
  width: 120px;
  
}
.section-perfil.sm svg{
  width: 100px;
  color: #5e5e5e;
}