.formulario-label {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
}
.formulario-grupo-input {
  position: relative;
}
.formulario-input,
.formulario-textarea,
.formulario-input-date {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(22, 21, 21);
  border-radius: 2px;
  line-height: 40px;
  padding: 5px 40px 5px 10px;
  transition: 0.3s ease all;
}

.formulario-input[disabled],
.formulario-textarea[disabled],
.formulario-input-date[disabled]{
  background: rgba(214, 214, 214, 0.507);
}
.text-right{
  text-align: right;
}

.formulario-input-date {
  padding: 5px 10px 5px 10px;
  line-height: 25px;
}

.formulario-input.select {
  padding: 5px 50px 5px 10px;
}

.formulario-textarea {
  height: max-content;
  line-height: 25px;
  padding: 5px 40px 5px 10px;
}

.formulario-input:focus,
.formulario-textarea:focus,
.formulario-input-date:focus {
  border: 1px solid #619bdd;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.bi-check-circle-fill {
  color: rgb(var(--exito));
}
.bi-x-circle-fill {
  color: rgb(var(--error));
}
.formulario-grupo-input svg {
  width: 30px;
  position: absolute;
  right: 2px;
  top: 8px;
  /* z-index: 1; */
  font-size: 16px;
  visibility: hidden;
  pointer-events: none;
}
.formulario-grupo-input.select svg {
  right: 10px;
}
.formulario-grupo-input.textarea svg {
  top: 10px;
}
.formulario-grupo-input.date svg {
  right: 25px;
}
.formulario-message-error {
  font-size: 12px;
  font-weight: 500;
  display: block;
  visibility: hidden;
  margin: 0;
}
.form-check-input {
  --bs-border-width: 2px;
  --bs-border-color: black;
}
/* -----Seccion de errores */
.error .formulario-input,
.error .formulario-input-date,
.error .formulario-textarea {
  border: 1px solid rgb(var(--error));
}
.error .formulario-input:focus,
.error .formulario-input-date:focus,
.error .formulario-textarea:focus,
.error .form-check-input:focus {
  border: 1px solid rgb(var(--error));
  box-shadow: 0 0 0 0.25rem rgba(253, 41, 13, 0.25);
}
.error .bi-x-circle-fill {
  visibility: visible;
}
.error.check .formulario-label {
  color: rgb(var(--error));
}
.error .formulario-message-error {
  visibility: visible;
  color: rgb(var(--error));
}
.error .form-check-input {
  border: 2px solid rgb(var(--error));
}
.section-perfil{
  width: max-content;
  border-radius: 100%;
  border: 3px solid #5e5e5e;
  margin-bottom: 5px;
}
.section-perfil-img{
  width: max-content;
  border-radius: 8px;
  border: 3px solid #5e5e5e;
  margin-bottom: 5px;
  padding: 5px;
}
.img-perfil{
  width: 200px;
  max-height: 200px;
  
}
.section-perfil svg{
  width: 180px;
  color: #5e5e5e;
}

.img-perfil.sm{
  width: 150px;
  
}
.section-perfil.sm svg{
  width: 100px;
  color: #5e5e5e;
}

.css-13cymwt-control{
  border-color: hsl(0, 0%, 0%) !important;
  border-radius: 1px !important;
}

.error .css-3jvn7d-control{
  border-color: rgb(var(--error)) !important;
}

.error .css-13cymwt-control{
  border-color: rgb(var(--error)) !important;
}
.container-icon-file{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-icon-file svg{
  width: 50px;
}
label.button-initial[disabled] {
  pointer-events: all;
  cursor: no-drop;
}

/* -------------------------------------------TOGLE SWICHES------------ */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(var(--secundario), 0.5);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch .switch-input:checked + .slider {
  background: rgba(var(--secundario), 0.9);
}

.switch .switch-input:focus + .slider {
  box-shadow: 0 0 1px rgba(var(--secundario), 0.9);;
}

.switch .switch-input:checked + .slider:before {
  transform: translateX(1.6em);
}


/* ------------------ RADIO START---------------------- */
.rating {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
