# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
help
*.env
backend/*.env
*/__pycache__/*
backend/*/__pycache__/*
./backend/API/__pycache__
./backend/API/migrations/__pycache__/
backend/API/__pycache__/models.cpython-37.pyc
backend/my_api/__pycache__/wsgi.cpython-39.pyc
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
