.button-initial{
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px solid;
    color: white;
    font-size:16px;
    font-weight: 800;
    transition: all ease .3s;
    background-color: rgb(var(--secundario));
}

.button-initial[disabled]{
    background-color: rgb(var(--secundario), 0.5);
}
.button-initial svg{
    width: 2rem;
}
.button-initial:hover{
    transform: scale(1.03);
}
.button-initial:active{
    background-color: rgb(var(--secundario), 0.75);
}
.button-initial.w-100{
    width: 100%;
}
.button-initial.w-50{
    width: 50%;
}