table.rbc-agenda-table tbody tr:nth-child(odd) {
    background-color: rgba(var(--secundario), 0.2) !important;
}

.rbc-month-view, .rbc-time-view, .rbc-btn-group button, .rbc-agenda-view table.rbc-agenda-table{
    border:1px solid rgb(0, 0, 0);
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th{
    text-align: center;
}
.rbc-day-bg + .rbc-day-bg, .rbc-header + .rbc-header, .rbc-time-content > * + * > *, .rbc-time-header-content, .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td{
    border-left: 1px solid rgb(0, 0, 0);
}
.rbc-month-row + .rbc-month-row, .rbc-agenda-view table.rbc-agenda-table tbody > tr + tr{
    border-top: 1px solid rgb(0, 0, 0);
}
.rbc-time-content{
    border-top: 2px solid rgb(0, 0, 0);
}
.rbc-header, .rbc-timeslot-group, .rbc-agenda-view table.rbc-agenda-table thead > tr > th{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.rbc-time-header.rbc-overflowing{
    border-right: 1px solid rgb(0, 0, 0);
}
.rbc-day-bg.rbc-off-range-bg{
    background-color: rgb(var(--principal));
}

.rbc-today{
    background-color: rgba(96, 7, 197, 0.555);
}
.rbc-header{
    background-color: rgba(var(--secundario), 0.9);
    font-weight: bold;
    color: white;
    padding: 20px 0px;
    text-align: center;
}
div.rbc-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbc-btn-group button.rbc-active, .rbc-btn-group button.rbc-active:focus, .rbc-btn-group button:active{
    background-color: rgba(var(--secundario));
    font-weight: bold;
    color: white;
}
.rbc-btn-group button:hover, .rbc-btn-group button:focus{
    background-color: rgba(var(--secundario), 0.8);
    color: white;
    border:1px solid rgb(0, 0, 0);
}
.rbc-show-more, .rbc-show-more:hover{
    color: rgb(var(--secundario));
}
.rbc-day-slot .rbc-time-slot{
    border-top: 0px solid rgb(0, 0, 0);
}
.rbc-current-time-indicator{
    height:2px;
    background-color: darkgreen;
}

 .rbc-btn-group button, .rbc-toolbar-label, .rbc-header button{
    font-weight: bold;
}
.rbc-label.rbc-time-header-gutter{
    width: 49px !important;
} 
.rbc-label{
    width: 100%;
    font-weight: 500;
    padding: 0px 6px;
    text-align: center;
}
.rbc-date-cell.rbc-off-range button.rbc-button-link{
    color: white;
}
button.rbc-button-link{
    background-color: transparent;
}
button.rbc-button-link:hover{
    transform: scale(1.1);
}
.rbc-day-slot .rbc-events-container{
    margin-right:0
}
.bc-events-container .rbc-event-label{
    color: black;
}
.rbc-time-content::-webkit-scrollbar, .rbc-agenda-view::-webkit-scrollbar {
  background-color: transparent;
  margin-top: 5px;
  border-left: 1px solid rgb(0, 0, 0);
}
.rbc-time-content::-webkit-scrollbar-thumb, .rbc-agenda-view::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secundario));
  border-radius: 10px;
}
.rbc-event, .rbc-event.rbc-selected, .rbc-event .rbc-event-content div:not(.bg-new){
    background-color: rgb(var(--exito));
    border-color: rgb(var(--principal));
}

.rbc-event:focus{
    outline: 5px auto rgb(135, 102, 255)
}
.rbc-event-label{
    font-weight: 800;
    background-color: transparent;
}

.rbc-toolbar-label{
    margin: 5px 0px;
    width: max-content;
}

.rbc-agenda-empty{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.rbc-event-label{
    font-weight: bold;
}

.bg-after{
    background-color: rgb(var(--principal));
}

.bg-same{
    color: #000;
    background-color: rgb(var(--warning));
}
.w-calendar{
    width: 100%;
    min-width: 700px;
}
.h-calendar{
    height: 80vh;
}
@media (max-width: 1000px) {
    .rbc-toolbar{
        flex-wrap: nowrap;
        flex-direction: column;
    }
  }
