@import "transition-style";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  clip-path: inset(0 100% 0 0);
}

.content-modal {
  min-height: 100px;
  max-height: 600px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  transition: 0.3s ease all;
  overflow: hidden;
}

.width-lg{
  width: 1150px;
}
.width-xx-lg{
  width: 1300px;
}
.width-md{
  width: 800px
}
.icon-menu svg, .img-logo svg {
  width: 45px;
  color: rgb(var(--secundario));
}
.img-logo svg{
  width: 30px;
}

.img-logo{
  width: 120px;
  object-fit: contain;

}
.button-close {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease all;
  border-radius: 50%;
  padding: 5px;
}
.button-close svg {
  width: 35px;
  color: rgb(0, 0, 0);
}

.button-close:hover {
  background-color: #d6d6d6;
}

.button-close:hover svg{
  color: rgb(211, 14, 14);
}
.body-modal {
  min-height: 200px;
  max-height: 450px;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 5px;
}
.body-modal::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.body-modal::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secundario));
  border-radius: 10px;
}

.body-modal table tbody tr:hover {
  cursor: pointer;
  background-color: rgba(111, 194, 233, 0.5);
  transition: 0.3s ease all;
}

tr.tr-select {
  background-color: rgba(111, 194, 233, 0.5) !important;
  transition: 0.3s ease all;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


[transition-style="in:wipe:right"] {
  animation: 0.45s ease-in wipe-in-right both;
}




@keyframes wipe-out-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

[transition-style="out:wipe:left"] {
  animation: 0.45s ease-in wipe-out-left both;
}


@media (max-width: 768px) {
  .content-modal {
    width: 90%;
  }
}
