:root {
    --width-sidebar: 6rem;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgb(var(--base));
    padding: 106px 36px 26px calc(var(--width-sidebar) + 36px);
    transition: all 0.5s ease-in-out;
}

.main .body {
    background-color: rgb(var(--body));
    width: 100%;
    min-height: 530px;
    border-radius: 5px;
    padding: 5px;
}

.expand-main {
    padding: 106px 46px 26px 236px;
}

.sidebar {
    --width-sidebar-dropdown: 13rem;
    width: var(--width-sidebar);
    min-width: var(--width-sidebar);
    height: 100vh;
    z-index: 110;
    transition: all 0.25s ease-in-out;
    background-color: rgb(var(--principal));
    display: flex;
    position: fixed;
    flex-direction: column;
}

.sidebar::before {
    content: "";
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    position: absolute;
    background-clip: padding-box;
    z-index: -5;
    transition: all 0.3s ease;
}

.barra-superior {
    background-color: rgb(var(--principal));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 13px 15px 13px calc(var(--width-sidebar) + 16px);
    position: fixed;
    z-index: 109;
    transition: all 0.25s ease-in-out;
    overflow: visible;
}

.expand-barra {
    padding: 15px 15px 15px 216px;
}

.barra-superior .user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;
}

.sidebar.expand {
    width: 200px;
    min-width: 200px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem;
}

.toggle-btn svg,
.barra-superior .user svg {
    width: 3rem;
    color: #fff;
}

.icono-nav{
    width: 45px;
    border-radius: 50%;
}

.sidebar-logo {
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.sidebar-logo img {
    width: 120px;
    height: 70px;
    object-fit: cover;
}

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) a.sidebar-link span,
.sidebar:not(.expand) p.sidebar-link span {
    visibility: hidden;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    margin: 0;
}

.sidebar.expand .sidebar-nav {
    overflow-y: auto;
}

.sidebar.expand .sidebar-nav::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.sidebar.expand .sidebar-nav::-webkit-scrollbar-thumb {
    background-color: rgb(var(--secundario));
    border-radius: 10px;
}

a.sidebar-link,
p.sidebar-link {
    padding: 6px 10px;
    color: #fff;
    display: block;
    font-size: 16px;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-link svg {
    width: 1.5rem;
    margin-right: 0.75rem;
}

.sidebar-item {
    position: relative;
}


.sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: var(--width-sidebar);
    background-color: rgb(var(--principal));
    padding: 0;
    width: 0%;
    overflow: hidden;
    display: block;
    transition: all 0.2s ease-out;
}

.sidebar:not(.expand) .sidebar-dropdown .sidebar-link {
    border-left: 3px solid rgb(var(--secundario));
    padding: 8px 10px;
}

.sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 16em;
    width: var(--width-sidebar-dropdown);
    opacity: 1;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after, .sidebar:not(.expand) .sidebar-item .has-dropdown::after {
    border: solid;
    border-width: 0 0.15rem 0.15rem 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 1.5rem;
    top: 18px;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}
.sidebar:not(.expand) .sidebar-item .has-dropdown::after {
    transform: rotate(-45deg);
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.sidebar.expand .sidebar-dropdown {
    padding: 5px 0px;
}

.sidebar.expand .sidebar-dropdown .sidebar-link {
    margin-left: 19px;
    border-left: 3px solid rgb(var(--body));
}

a.sidebar-link:hover,
p.sidebar-link:hover,
.sidebar .sidebar-dropdown .sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid rgb(var(--secundario));
}

/* media querys */
@media (max-width: 768px) {
    .expand.sidebar::before {
        transform: translateX(100%);
    }

    .expand-main {
        padding: 106px 26px 26px calc(var(--width-sidebar) + 106px);
    }
    
    .sidebar{
        --width-sidebar:0px;
    }

    .sidebar:not(.expand) .sidebar-nav{
        display: none;
    }

    .main {
        --width-sidebar:0px;
        padding: 106px 16px 26px calc(var(--width-sidebar) + 16px);
    }
}

@media (max-width: 576px) {
    .expand.sidebar::before {
        transform: translateX(100%);
    }
    
}