button[disabled] {
  pointer-events: all;
  cursor: no-drop;
  background-color: rgba(var(--secundario), 0.5);
}
button[disabled]:hover {
  transform: scale(1);
}
.input-table {
  max-width: 100%;
  min-width: 50px;
  background: #fff;
  border: 2px solid rgb(22, 21, 21);
  border-radius: 5px;
  height: 35px;
  line-height: 40px;
  padding: 10px 15px;
  transition: 0.3s ease all;
}
.input-table:focus {
  border: 2px solid #619bdd;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.input-table.page {
  padding: 10px 0px;
  text-align: center;
}
.container-table {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 5px;
}
.table-overflow-y {
  max-height: 500px;
  overflow-y: auto;
}

.container-table::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
  margin-top: 5px;
}
.container-table::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secundario));
  border-radius: 10px;
}

table.table-data,
.table-loading {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(92, 92, 92);
  table-layout: auto;
}

table.table-data.border-table {
  border: 2px solid rgb(92, 92, 92);
}
.table-loading {
  border: 2px solid rgb(92, 92, 92);
}

table.table-data th,
table.table-data td {
  text-align: center;
  padding: 10px 5px;
  border: 2px solid rgb(92, 92, 92);
  min-width: max-content;
  word-wrap: break-word;
}

table.table-data.border-none th,
table.table-data.border-none td {
  border-right: none;
  border-left: none;
}
table.table-data.border-none th {
  border-top: none;
}
tr.fc-none {
  color: transparent;
}
.table-loading th,
.table-loading td {
  padding: 5px 8px;
}
table.table-data td.d-flex {
  align-items: center;
  margin: -1px;
  padding: 20px 0px;
  align-self: stretch;
}

thead tr th {
  font-size: 16px;
  font-weight: bold;
}
tbody tr td {
  font-size: 14px;
  font-weight: normal;
}

table td:first-child {
  font-weight: bold;
}
table tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
}
table svg {
  width: 30px;
}
table .svg-check svg {
  color: rgb(0, 167, 0);
}
table .svg-x svg {
  color: rgb(204, 19, 19);
}
table .options-table svg{
  color: rgb(var(--secundario));
  transition: transform 0.2s ease-out;
}
table svg.edit:hover,
table svg.eliminate:hover,
table svg.get:hover,
table svg.money:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}

.row-collapse[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.30rem 0.30rem 0;
  content: "";
  display: inline-block;
  padding: 5px;
  right: 1.5rem;
  top: 0.5rem;
  position: absolute;
  transition: all 0.2s ease-out;
}

.row-collapse[data-bs-toggle="collapse"][aria-expanded="true"]::after {
  transform: rotate(45deg);
}

.row-collapse[data-bs-toggle="collapse"][aria-expanded="false"]::after {
  transform: rotate(-45deg);
}

.button-hover{
  background-color: transparent;
}

.button-hover:hover{
  background-color: rgba(var(--secundario), 0.9);
  color: hsl(0, 0%, 100%);
}

.button-hover[aria-expanded="true"]{
  background-color: rgba(var(--secundario), 0.9);
  color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {
  table.table-data {
    min-width: max-content;
  }
  table.table-data td,
  table.table-data th {
    padding: 10px 6px;
  }
}

@media (min-width: 992px) {
  table.table-data th {
    max-width: 100px;
  }
}

@media (min-width: 576px) {
  table.table-data th {
    max-width: 150px;
  }
}
